{% extends 'base.html' %}
{% block title %}Новый пароль{% endblock title %}

{% block content %}
    <div class="margin-auto text-center card-simple w500">
        <h2 class="margin-bottom15">Введите новый пароль</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table class="margin-auto margin-bottom15">
                <tr><th>Новый пароль:</th><td>{{ form.new_password1 }}</td></tr>
                <tr><td colspan="2">{{ form.new_password1.errors }}</td></tr>
                <tr><th>Подтверждение пароля:</th><td>{{ form.new_password2 }}</td></tr>
                <tr><td colspan="2">{{ form.new_password2.errors }}</td></tr>
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}