{% extends 'base.html' %}
{% block title %}Восстановление пароля{% endblock title %}

{% block content %}
    <div class="margin-auto text-center card-simple w350">
        <h2 class="margin-bottom15">Сброс пароля</h2>
        <form class="margin-bottom15" action="" method="post" novalidate>
            {% csrf_token %}
            <table class="margin-auto margin-bottom15">
                    <tr><th>{{ form.email.label_tag }}</th><td>{{ form.email }}</td></tr>
                    <tr><td colspan="2">{{ form.email.errors }}</td></tr>
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}