{% extends 'base.html' %}
{% load static %}

{% block title %}Восстановление пароля{% endblock title %}
{% block script %}<script src="{% static 'js/placeholders.js' %}" defer></script>{% endblock script %}

{% block content %}
    <div class="margin-auto text-center card-simple w350">
        <h2 class="margin-bottom15">Введите новый пароль</h2>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            <table class="margin-auto margin-bottom15">
                <tr><td>{{ form.new_password1 }}</td></tr>
                <tr><td>{{ form.new_password1.errors }}</td></tr>
                <tr><td>{{ form.new_password2 }}</td></tr>
                <tr><td>{{ form.new_password2.errors }}</td></tr>
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}