{% extends 'base.html' %}

{% block content %}
    <div class="ma tc card-simple w500">
        <h2 class="mb15">Регистрация</h2>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table class="ma mb15">
                {% for i in userform %}
                    <tr>
                        <th>{{ i.label_tag }}</th>
                        <td>{{ i }}</td>
                        <td>{{ i.errors }}</td>
                    </tr>
                {% endfor %}
            </table>
            <input type="submit" value="Отправить">
        </form>
    </div>
{% endblock content %}