*, *::before, *::after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5{
    margin-top: 0;
    margin-bottom: 0;
}

body{
    margin: 55px 0 0;
    box-sizing: border-box;
    background-color: black;
    font-family: "Malgun Gothic";
    color: #e0e0e0;
}

header{
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    background-color: #1f1f1f;
    z-index: 1;
}

input[type=text], input[type=password], input[type=email], textarea{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    background-color: #3d3d3d;
    color: inherit;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    height: 35px;
    /*width: 250px;*/
    width: 100%;
    padding: 5px 10px;
    text-align: center;
}

textarea{
    height: 250px;
    text-align: left;
    resize: none;
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, textarea:focus{
    outline: 0;
    border: 1px solid cornflowerblue;
}

button, input[type=submit]{
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: #ffffff;
    border-radius: 10px;
    border: none;
    height: 35px;
    width: 250px;
    cursor: pointer;
}

.button-inverted{
    background-color: black;
    color: #e0e0e0;
    border: solid 2px #e0e0e0;
}

.button-inverted:hover{
    color: black;
}

.button-100perc{
    width: 100%; !important;
}

/*.button-content-width{*/
/*    width: min-content;*/
/*    aspect-ratio: 1 / 1;*/
/*}*/

button:hover, input[type=submit]:hover{
    background-color: #e0e0e0;
}

.small-button{
    font-size: small;
    width: 175px;
    height: 20px;
    line-height: 10px;
    border-radius: 7px;
}

input[type=file]{
    overflow: hidden;
    font-family: inherit;
    display: inline-block;
    width: 250px;
    text-align: left;
}

#id_birthdate_month{
    width: 50%;}
#id_birthdate_day{
    width: 20%;}
#id_birthdate_year{
    width: 30%;}
#id_city, #id_country{
    width: 100%;}

.card-simple{
    background-color: #1f1f1f;
    /*width: max-content;*/
    padding: 15px;
    margin-bottom: 15px !important;
    border-radius: 10px;
    position: relative;
    /*z-index: -1;*/
}

.card-simple p{
    padding-right: 50px;
}

.post-photo{
    height: 400px;
    display: block;
    margin: 10px auto;
}


.post-button{
    font-size: small;
    min-width: 25px;
    height: 25px;
    background-color: #ffffff;
    border-radius: 12.5px;
    text-align: center;
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5px;
}

.post-button div{
    height: 100%;
}

.post-button h3{
    margin: 0 5px 2px 3px;
}

.post-delete-button{
    position: absolute;
    right: 0px;
    top: 5px;
    width: 25px;
}

.post-comment-button{
    padding: 0 2.5px;
}

.post-like-button{
    padding: 0 2px;
}

.post-like-button img{
    width: 20px;
    height: 20px;
}

.post-like-button:hover{
    cursor: pointer;
}

ul{
    padding: 0;
    margin-top: 0;
}

li{
    list-style-type: none;
    height: 100%;
}

.w350{
    width: 350px;
}

.w500{
    width: 500px;
}

.margin-auto{
    margin: auto;
}

.margin-top10{
    margin-top: 10px;
}

.margin-bottom15{
    margin-bottom: 15px;
}

.margin-right-short{
    margin-right: 10px;
}

.margin-left-short{
    margin-left: 10px;
}

.padding-bottom-short{
    padding-bottom: 10px;
}

.text-center{
    text-align: center;
}

.center-width{
    width: 1000px;
    height: 100%;
}

.flex-row{
    /*margin-bottom: 0;*/
    display: flex;
    flex-direction: row;
}

.flex-col{
    /*margin-bottom: 0;*/
    display: flex;
    flex-direction: column;
}

.h100pc{
    height: 100%;
}

.width-20pc{
    width: 20%;
}

.width-70pc{
    width: 79%;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: end;
}

.just-cont-spa-bet{
    justify-content: space-between;
}

.just-cont-start{
    justify-content: start;
}

.just-cont-end{
    justify-content: end;
}

.margin-left-auto{
    margin-left: auto;
}

.margin-right-auto{
    margin-right: auto;
}

.link-clean{
    /*display: inline-block;*/
    padding: 0 10px;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.link-clean:hover{
    background-color: #3d3d3d;
}

.link-inline{
    color: inherit;
    text-decoration: none;
}

.link-inline:checked{
    color: #e0e0e0;
}

.link-inline:hover{
    color: #dadada;
}


.main-div{
    width: 85%;
    padding-top: 10px;
}

.main-div table{
    text-align: left;
}

.menu-left{
    /*width: 15%;*/
    position: fixed;
}

.menu-left-div{
    width: 150px;
}

.small-font{
    font-size: small;
    color: #3d3d3d;
}

.bold-font{
    font-weight: bold;
}

.text-align-right{
    text-align: right;
}

.vertical-align-middle{
    vertical-align: middle;
}

.profile-data-table th{
    width: 50%;
    text-align: center;
    vertical-align: middle;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.w250{
    width: 250px;
}



