.avatar{
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 10px;
}

.avatar img{
    width: 100%;
    position: center;
}

.profile-left-div{
    padding: 10px;
    width: 25%;
}

.profile-right-div{
    padding: 10px 0;
    width: 75%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    width: 25%;
    vertical-align: top;
}

.line-under{
    border-bottom: 1px solid #e0e0e0;
}

