.avatar, .avatar-small{
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 50%;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatar{
    width: 100%;
    margin-bottom: 10px;
}
.avatar-small{
    width: 50px;
    float: left;
}
.avatar img, .avatar-small img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    /*height: unset;*/
    position: center;
}

.card-user-name{
    margin-left: 60px;
    /*margin-bottom: 10px;*/
    height: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.card-info{
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

}

.card-info div{
    width: 100%;
    text-align: right;
}


.profile-left-div{
    padding: 10px;
    width: 25%;
}

.profile-right-div{
    padding: 10px 0;
    width: 75%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th{
    width: 25%;
    vertical-align: top;
}

.line-under{
    border-bottom: 1px solid #e0e0e0;
    margin-bottom: 15px;
    width: 100%;
}

/*textarea{*/
/*    width: 100%;*/
/*    height: 4ex;*/
/*}*/

/*textarea:focus{*/
/*    height: 15ex;*/
/*}*/


p{
    margin: 0;
}

.opening-postfield{
    width: 100%;
    height: 4ex;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 10px;
}

.opening-postfield textarea{
    width: 100%;
    height: 15ex;
    border: none;
}


/*стиль кнопки загрузки фото*/
.input-file {
	position: relative;
	display: inline-block;
	/*height: 35px;*/
}
.input-file-btn {
	position: relative;
	display: inline-block;
	cursor: pointer;
	outline: none;
	text-decoration: none;
	/*font-size: 14px;*/
	vertical-align: top;
	color: black;
	text-align: center;
	border-radius: 10px;
	background-color: #ffffff;
	line-height: 35px;
	height: 35px;
	padding: 0 20px;
	border: none;
	margin: 0;
}
.input-file-text {
	width: 300px;
	padding: 0 10px;
	line-height: 35px;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
/* Focus */
/*.input-file input[type=file]:focus + .input-file-btn {*/
/*	box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);*/
/*}*/
/* Hover/active */
.input-file:hover .input-file-btn {
	background-color: #e0e0e0;
}
.input-file:active .input-file-btn {
	background-color: #e0e0e0;
}
/* Disabled */
.input-file input[type=file]:disabled + .input-file-btn {
	background-color: #e0e0e0;
}

.profile-update-table th{
    width: 30%;
    text-align: center;
    vertical-align: middle;
}

.profile-update-table .errorlist{
    text-align: center;
    margin-bottom: 0;
}

.profile-update-table button{
    width: 100%;
}
.profile-update-table .avatar{
    width: 50%;
}

.vertical-align-mid{
    vertical-align: top;
}