input[type=text]{
    width: 594px;
}

@media screen and (max-width: 1000px) {
    input[type=text], input[type=submit], .create-button, button{
        width: 100%;
    }
    input[type=text]{
        margin-bottom: 15px;
    }
}