{% extends 'base.html' %}
{% load static %}
{% csrf_token %}
{% block title %}{{ community.title }}{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block script %}
    <script src="{% static 'js/subscribe.js' %}" defer></script>
    <script src="{% static 'js/postfield.js' %}" defer></script>
    <script src="{% static 'js/admin_status.js' %}" defer></script>
{% endblock script %}

{% block main %}

        <div class="main-div">

                <div class="line-under">
                    <table>
                        <tr>
                            <th colspan="2"><a class="link-inline" href="{{ community.get_absolute_url }}"><h3>{{ community.title }}</h3></a>
                            </th>
                        </tr>
                        <tr class="">
                            <td colspan="2"><h3>{{ community.communityname }}</h3></td>
                        </tr>
                    </table>
                </div>

            <div class="flex-row just-cont-spa-bet"><h3 class="margin-bottom15">Управление:</h3>
                {% if user_role == 2 %}
                <a href="{% url 'communityupdate' community.slug %}">
                    <button class="small-button">Изменить информацию</button>
                </a>
            {% endif %}
            </div>



                    {% for one in page_obj %}
                        <div class="card-simple flex-row just-cont-spa-bet">
                            <a class="link-inline" href="{{ one.user.profile.get_absolute_url }}">
                                <div class="avatar-small"><img src="{{ one.user.profile.avatar.url }}" alt="avatar"></div>
                                <div class="card-user-name">
                                    <div>{{ one.user.profile.name }} {{ one.user.profile.surname }}</div>
                                    <div>({{ one.user.profile.slug }})</div>
                                </div>
                            </a>
                            <div class="card-info flex-col just-cont-end">
{#                                <div>Город: {{ one.user.profile.city }}</div>#}
                                <div>Роль в сообществе:
                                    {% if one.role == 0 %}
                                        <b>Модератор</b>
                                    {% elif one.role == 1 %}
                                        <b>Администратор</b>
                                    {% elif one.role == 2 %}
                                        <b>Владелец</b>
                                    {% else %}
                                        <b>Подписчик</b>
                                    {% endif %}
                                </div>

                            {% if user_role > -1 %}
                                <div class="width-70pc flex-row just-cont-end">
                                    {% if user_role == 2 and one.role != 2 %}
                                        <button onclick="change_status({{ one.user.id }}, {{ community.id }}, 2)" class="small-button margin-left-short">Сделать владельцем</button>
                                    {% endif %}
                                    {% if user_role == 2 and one.role == 0 %}
                                        <button onclick="change_status({{ one.user.id }}, {{ community.id }}, 1)"class="small-button margin-left-short">Сделать администратором</button>
                                    {% endif %}
                                    {% if user_role == 2 and one.role == 1 %}
                                        <button onclick="change_status({{ one.user.id }}, {{ community.id }}, 0)"class="small-button margin-left-short">Сделать модератором</button>
                                    {% endif %}
                                    {% if user_role > one.role or user.id == one.user_id  %}
                                        <button onclick="change_status({{ one.user.id }}, {{ community.id }}, -1)"class="small-button margin-left-short">Убрать из управления</button>
                                    {% endif %}
                                </div>
                            {% endif %}
                            </div>
                        </div>
                    {% endfor %}

        {% if page_obj.paginator.num_pages > 1 %}
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1"><<</a>
                        <a href="?page={{ page_obj.previous_page_number }}"><</a>
                    {% endif %}

                    <span class="current">
                        Стр. {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">></a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">>></a>
                    {% endif %}
                </span>
            </div>
            {% endif %}

        </div>




{% endblock main %}

{% block footer %}{% endblock footer %}