{% extends 'base.html' %}
{% load static %}
{% block title %}{{ profile.name }} {{ profile.surname }}{% endblock title %}
{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}
{% block script %}
    <script src="{% static 'js/subscribe.js' %}" defer></script>
    <script src="{% static 'js/postfield.js' %}" defer></script>
{% endblock script %}

{% block content %}
    <div class="center-width margin-auto flex-row">

        <div class="menu-left">
            <ul>
                <li><a class="link-clean" href="{% url 'home' %}">Моя страница</a></li>
                <li><a class="link-clean" href="{% url 'news' %}">Мои новости</a></li>
                <li><a class="link-clean" href="">Мои подписки</a></li>
                <li><a class="link-clean" href="">Мои сообщества</a></li>
                <li><a class="link-clean" href="">Мои фото</a></li>
            </ul>
        </div>

        <div class="main-div">

            <div class="flex-row line-under">
                <div class="profile-left-div">
                    <div class="avatar"><img src="{{ profile.avatar.url }}" alt="avatar"></div>
                    {% if user.username %}
                        {% if user.id != profile.user_id %}
                             {% if profile in user.profile.following.all %}                               {#                            {% if subscribtion %}#}
                                <button class="button-100perc button-inverted" id="unsubscribe-button">Отписаться</button>
                            {% else %}
                                <button class="button-100perc" id="subscribe-button">Подписаться</button>
                            {% endif %}
                            <div id="user_id" hidden>{{ user.id }}</div>
                            <div id="profile_id" hidden>{{ profile.user_id }}</div>
                        {% endif %}
                    {% endif %}
                </div>

                <div class="profile-right-div">
                    <table>
                        <tr>
                            <th colspan="2"><h3>{{ profile.name }} {{ profile.secondname }} {{ profile.surname }}</h3>
                            </th>
                        </tr>
                        <tr class="line-under">
                            <td colspan="2"><h3>{{ profile.user.username }}</h3></td>
                        </tr>
                        <tr>
                            <th>Город:</th>
                            <td>{{ profile.city }}</td>
                        </tr>
                        <tr>
                            <th>Дата рождения:</th>
                            <td>{{ profile.birthdate }}</td>
                        </tr>
                        <tr>
                            <th>Информация:</th>
                            <td>{{ profile.bio }}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <div class="line-under">
                {% if user.username and profile.user == user %}
                    <div id='id_post' class="opening-postfield">
                        <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div>{{ form.text }}</div>
                            {#                        <div>{{ form.user }}</div>#}
                            <div class="flex-row">
                                <div class="margin-right-short">
                                    <input type="submit" class="margin-auto hidden" value="Отправить">
                                </div>
                                <label class="input-file">
                                    <input type="file" name="photo" accept="image/*" id="id_photo">
                                    <span class="input-file-btn">Выберите фото</span>
                                    <span class="input-file-text"></span>
                                </label>  {# {{ form.photo }} #}
                            </div>
                        </form>
                    </div>
                {% endif %}
                {% if profile.user.post_set.all %}
                    {% for post in profile.user.post_set.all reversed %}
                        <div class="card-simple">
                            {% if user.username and profile.user == user %}
                                <a class="delete-button" title="Удалить пост"
                                   href="{% url 'delpost' post.id %}?next={{ request.path }}">✖</a>
                            {% endif %}
                            {{ post.text|linebreaks }}
                            {% for img in post.photo.all %}
                            <img src="{{ img.link.url }}" alt="">
                            {% endfor %}
                            <div class="small-font text-align-right">{{ post.creationdate }}</div>
                        </div>
                    {% endfor %}
{#                {% else %}#}
{#                    <div>Постов нет</div>#}
                {% endif %}
            </div>

        </div>







    </div>
{% endblock content %}

{% block footer %}{% endblock footer %}