<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css %}
    {% endblock css %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    {% block script %}<script></script>{% endblock script %}
</head>
<body>

    <header>
        <div class="center-width margin-auto">{% block head %}
            <ul class="flex-row align-items-center just-cont-spa-bet h100pc">
                <li><a href="{% url 'home' %}" class="link-clean"><h2>СОЦСЕТЬ</h2></a></li>
                {% if user.username %}
                    <li><a href="{% url 'peoplesearch' %}" class="link-clean"><p>люди</p></a></li>
                    <li><a href="{% url 'communitysearch' %}" class="link-clean"><p>сообщества</p></a></li>
                    <li><a href="{% url 'logout' %}" class="link-clean"><p>выйти</p></a></li>
                {% endif %}
            </ul>
        {% endblock head %}</div>
    </header>

    {% block content %}
<div class="center-width margin-auto flex-row">
        {% block menu %}
            <div class="menu-left-div margin-top10">
                <div class="menu-left">
                    <ul>
                        <li><a class="link-clean" href="{% url 'home' %}">Моя страница</a></li>
                        <li><a class="link-clean" href="{% url 'news' %}">Мои новости</a></li>
                        <li><a class="link-clean" href="{% url 'followpeople' %}">Мои подписки</a></li>
                        <li><a class="link-clean" href="">Мои сообщества</a></li>
{#                        <li><a class="link-clean" href="">Мои фото</a></li>#}
                        <li><a class="link-clean" href="{% url 'profileupdate'%}">Мои настройки</a></li> {# user.username #}
                    </ul>
                </div>
            </div>
            {% endblock menu %}

            {% block main %}
            {% endblock main %}







    </div>
    {% endblock content %}


    {% block footer %}
        <footer class="margin-auto text-center card-simple w350">
            Андрей Королёв © 2023
        </footer>
    {% endblock footer %}

</body>
</html>