<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <header>
        {% block head %}
            <ul>
                <li>СОЦСЕТЬ</li>
                <li>люди</li>
                <li>сообщества</li>
                <li><a href="{% url 'logout' %}">выйти</a></li>
            </ul>
        {% endblock head %}
    </header>

    {% block content %}
        {% block menu %}
        {% endblock menu %}
        {% block main %}
        {% endblock main %}
    {% endblock content %}

    <footer>Андрей Королёв, 2023г.</footer>

</body>
</html>